# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/
.hypothesis/

# DB
postgres_data/

# Alembic
alembic/versions/
!alembic/versions/.keep
